.git
.github
.hust
*.tgz
dist
log
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tokens
uploads
userDataDir
WhatsAppImages
wppconnect_tokens
*.png
*.jpg
*.jpeg
*.gif
.vscode
.idea
.env
.nyc_output
coverage
.DS_Store